appdirs==1.4.3
inflect==0.2.5
irc==15.0.6
jaraco.classes==1.4.1
jaraco.collections==1.5.1
jaraco.functools==1.15.2
jaraco.itertools==2.0.1
jaraco.logging==1.5
jaraco.stream==1.1.2
jaraco.text==1.9.2
matrix-client==0.0.6
more-itertools==2.6.0
packaging==16.8
pyparsing==2.2.0
pytz==2017.2
PyYAML==3.12
requests==2.13.0
six==1.10.0
tempora==1.6.1
