appdirs
inflect
irc
jaraco.classes
jaraco.collections
jaraco.functools
jaraco.itertools
jaraco.logging
jaraco.stream
jaraco.text
matrix-client
more-itertools
packaging
pyparsing
pytz
PyYAML
requests
six
tempora
future-fstrings